#grid {
    display: block;
    /*-fx-background-color: rgb(188, 191, 186);*/
    -fx-background-color: radial-gradient(center 50% 50% , radius 100% , #bb499c, #512140);
}

/* For the words on the cards */
.word {
    -fx-font-size: 1.5em;
    -fx-fill: rgb(0, 0, 0);
    -fx-font-family:sans-serif;
}
.card:hover .word {
    -fx-font-weight: bold;
}
.red .word, .blue .word, .civilian .word, .assassin .word {
    -fx-fill: transparent;
}
.info{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

/* For the card background */
.card {
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 10, 10);
}
.red {
    -fx-background-color: rgb(216, 70, 59);
}
.blue {
    -fx-background-color: rgb(43, 124, 166);
}
.civilian {
    -fx-background-color: rgb(215, 202, 155);
}
.assassin {
    -fx-background-color: rgb(48, 47, 40);
}
.unknown {
    -fx-background-color: rgb(91, 178, 67);
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}