#grid {
    display: block;
    /*-fx-background-color: rgb(188, 191, 186);*/
    -fx-background-color: radial-gradient(center 50% 50% , radius 100% , rgba(11, 9, 86, 0.50), rgba(49, 70, 191, 0.5));
}

/* For the words on the cards */
.word {
    -fx-font-size: 1.5em;
    -fx-fill: rgb(0, 0, 0);
    -fx-font-family:sans-serif;
}
.card:hover .word {
    -fx-font-weight: bold;
}
.red .word, .blue .word, .civilian .word, .assassin .word {
    -fx-fill: transparent;
}
.info{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

/* For the card background */
.card {
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 10, 10);
}
.red {
    -fx-background-color: rgb(216, 70, 59);
}
.blue {
    -fx-background-color: rgb(43, 124, 166);
}
.civilian {
    -fx-background-color: rgb(215, 202, 155);
}
.assassin {
    -fx-background-color: rgb(48, 47, 40);
}
.unknown {
    -fx-background-color: rgb(50, 178, 127);
}

.button {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a3a31a 0%, #909018 100%),
            #9d9b24,
            #d8d822,
            radial-gradient(center 50% 50%, radius 100%, #eae15c, #c5c22d);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #a3a31a 0%, #909018 100%),
            #9d9731,
            #d8d822,
            radial-gradient(center 50% 50%, radius 100%, #eae15c, #c5c22d);
}
.button:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #7d7d19, 0,0,0,2 );
}