#grid {
    display: block;
    /*-fx-background-color: rgb(188, 191, 186);*/
    -fx-background-color: radial-gradient(center 50% 50% , radius 100% , #bb499c, #512140);
}

/* For the words on the cards */
.word {
    -fx-font-size: 1.5em;
    -fx-fill: rgb(0, 0, 0);
    -fx-font-family:sans-serif;
}
.card:hover .word {
    -fx-font-weight: bold;
}
.red .word, .blue .word, .civilian .word, .assassin .word {
    -fx-fill: transparent;
}
.info{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
    -fx-font-family: monospace;
}

/* For the card background */
.card {
    -fx-background-radius: 25;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 10, 0, 10, 10);
}
.red {
    -fx-background-color: rgb(216, 70, 59);
}
.blue {
    -fx-background-color: rgb(43, 124, 166);
}
.civilian {
    -fx-background-color: rgb(215, 202, 155);
}
.assassin {
    -fx-background-color: rgb(48, 47, 40);
}
.unknown {
    -fx-background-color: rgb(91, 178, 67);
}