/* For the words on the cards */
.word {
    -fx-fill: #000;
}
.word:hover {
    
}

.assassin-word {
    -fx-fill: #fff;
}

/* For the card background */
.red {
    -fx-background-color: rgb(216,70,59);
}
.blue {
    -fx-background-color: rgb(43,124,166);
}
.civilian {
    -fx-background-color: rgb(215,202,155);
}
.assassin {
    -fx-background-color: rgb(48,47,40);
}

/* Card background for unchosen cards */
.unknown {
    -fx-background-color: rgb(178,137,162);
}