#grid {
    display: block;
}

/* For the words on the cards */
.word {
    -fx-font-size: 1.5em;
    -fx-fill: rgb(0, 0, 0);
    -fx-font-family:sans-serif;
}
.card:hover .word {
    -fx-font-weight: bold;
}
.red .word, .blue .word, .civilian .word, .assassin .word {
    -fx-fill: transparent;
}


/* For the card background */
.card {
    -fx-background-radius: 25;
}
.red {
    -fx-background-color: rgb(216,70,59);
}
.blue {
    -fx-background-color: rgb(43,124,166);
}
.civilian {
    -fx-background-color: rgb(215,202,155);
}
.assassin {
    -fx-background-color: rgb(48,47,40);
}
.unknown {
    -fx-background-color: rgb(178,137,162);
}